#chuong{
    border-radius: 10px; 
    background: #f4f4f4;
}
#title-chuong{
    text-align: center;
    line-height: 35px;
}
#title-chuong i{
    font-size: 30px;
    color: gray;
}
#title-chuong span.chuong-redirect,#title-chuong select.chuong-list,#title-chuong span.chuong-phanhoi,#title-chuong span.chuong-binhluan{
    display: inline-block;
    background: green;
    color: white;
    outline: none;
    border: 0.5px solid #5cb85c;
    text-align: center; 
    cursor: pointer;
    margin-bottom: 5px;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
  
}
#title-chuong span.chuong-redirect{
    width: 150px;
    height: 40px;
    line-height: 40px;
}
#title-chuong span.chuong-redirect i{
    font-size: 12px;
    color:white;
    vertical-align: middle;
    line-height: 40px;
    padding-bottom: 2px;
}
#title-chuong span.chuong-phanhoi,#title-chuong span.chuong-binhluan{
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
}
#title-chuong span.chuong-phanhoi{
   background:  orange;
}
#title-chuong span.chuong-binhluan{
    background: #5bc0de;
}
#title-chuong span.chuong-redirect#redirect-pre{
    border-radius: 3px 0px 0px 3px;
}
#title-chuong span.chuong-redirect#redirect-next{
    border-radius: 0px 3px 3px 0px;
}
#title-chuong select.chuong-list{
    width: 150px;
    height: 40px;
    border: 0.5px solid #5cb85c;
    padding: 0 15px;
    font-size: 14px;
    padding-top: 1px;
}
#title-chuong span.chuong-tips{
    border: 1px dashed;
    padding: 3px 10px;
    font-size: 14px;
}
#title-chuong span:hover{
    opacity: 1;
}
#title-chuong select.chuong-list:hover{
    opacity: 1;
}
#content-chuong{
    color:#2b2b2b;
    line-height: 42px;
    padding: 15px 40px;
}
#btnHideMenuPath{
    position: absolute;
    top:5px;
    left:5px;
    background: #5cb85c;
    width: 78px;
    height: 66px;
    border-radius: 8px ;
    text-align: center;
    line-height:28px;
    padding: 18px 0;
    cursor: pointer;
    border: 0.5px solid #5cb85c;
 
}
#btnHideMenuPath i{
    font-size: 28px;
    color: white;
    
}
#btnHideMenuPath:hover{
    background: #398439;
}
